<div class="changebac">
  <div mat-dialog-title class="fs-4 text-center">Change Password</div>
  <div mat-dialog-content>
    <div class="container">
      <div class="row">
        <form
          [formGroup]="changePasswordForm"
          (ngSubmit)="submitChangePasswordForm()"
          enctype="multipart/form-data"
        >
          <div class="row ms-5 me-5 mb-3 mt-2">
            <div class="col">
              <input
                type="password"
                class="form-control form-md-control-md bg-light fs-6"
                placeholder="Password"
                name="password"
                id="password"
                formControlName="password"
                [ngClass]="{'is-valid':(password.touched || password.dirty)&&!(password.errors?.['required'] || (password.errors?.['pattern'])),'is-invalid':((password.touched||password.dirty) && (password.errors?.['required'] || (password.errors?.['pattern'])))}"
              />
              @if ((password.touched || password.dirty) &&
              password.errors?.['required']) {
              <div class="invalid-feedback ps-1">*Password is Required.</div>
              } @if (password.errors?.['pattern']&&(password.touched ||
              password.dirty)) {
              <div class="invalid-feedback mb-1 ps-1 text-wrap">
                *Password must contain at least 8 characters,1 Uppercase,1
                Lowercase,1 number,1 special characters.
              </div>
              }
            </div>
          </div>
          <div class="row ms-5 me-5 mb-3">
            <div class="col-md">
              <input
                type="password"
                class="form-control form-control-md bg-light fs-6"
                placeholder="Confirm Password"
                name="cPassword"
                id="cpassword"
                formControlName="cPassword"
                [ngClass]="{'is-valid':(cPassword.touched || cPassword.dirty)&&!(cPassword.errors?.['required'] || changePasswordForm.errors?.['mismatch']),'is-invalid':((cPassword.touched||cPassword.dirty) && (cPassword.errors?.['required'] || changePasswordForm.errors?.['mismatch']))}"
              />
              @if ((cPassword.touched || cPassword.dirty) &&
              cPassword.errors?.['required']) {
              <div class="invalid-feedback ps-1">*Password is Required.</div>
              } @if ((cPassword.touched || cPassword.dirty) &&
              changePasswordForm.errors?.['mismatch']) {
              <div class="invalid-feedback ps-1">*Password does not match.</div>
              }
            </div>
          </div>
          <div class="row ms-5">
            <div class="col-4 mt-1">
              <button
                type="submit"
                mat-raised-button
                color="primary"
                [disabled]="changePasswordForm.invalid || changePasswordForm.errors?.['mismatch']"
              >
                Change
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div mat-dialog-actions>
      <button
        mat-raised-button
        mat-dialog-close
        color="warn"
        class="m-auto mt-4"
      >
        Close
      </button>
    </div>
  </div>
</div>
