<div class="chat-container container">
  <aside class="sidebar">
    <div class="search-container p-2">
      <input
        [(ngModel)]="searchEmail"
        (input)="searchUsersByEmail()"
        class="form-control"
        placeholder="Search by email"
      />
    </div>
    <div class="user-list p-2">
      <h3>Users</h3>
      <ul class="list-group">
        @for (user of users; track $index) {
        <li
          class="list-group-item row d-flex align-items-center mt-1"
          (click)="selectChatRoom(user.id)"
        >
          <img [src]="user.image" alt="" class="profile-image" />
          {{ user.name }}
        </li>
        }
      </ul>
    </div>
    <div class="group-chat p-2">
      <h3>Create Group Chat</h3>
      <input
        type="text"
        placeholder="Group Name"
        #groupName
        class="form-control mb-2"
      />
      <select
        multiple
        (change)="onUserSelect($event)"
        class="form-control mb-2"
      >
        @for (user of usersForGroupCreate; track $index) {
        <option [value]="user.id">
          {{ user.name }}
        </option>
        }
      </select>
      <button
        (click)="createGroupChat(groupName.value)"
        class="btn btn-primary"
      >
        Create Group
      </button>
    </div>
    <div class="group-list p-2">
      <h3>Groups</h3>
      <ul class="list-group">
        @for (room of groupChatRoom; track $index) {
        <li class="list-group-item" (click)="selectChatRoom(room.id, true)">
          {{ room.name }}
        </li>
        }
      </ul>
    </div>
  </aside>

  <main class="chat-area">
    @if (selectedChatRoomId) {
    <div class="chat-box">
      <div
        class="d-flex justify-content-between align-items-center p-3 bg-light border-bottom"
      >
        <h5>
          {{ selectedChatRoomName }}
          <br />
          <span class="chat-members">
            @for (user of selectedChatRoomUsers; track $index) {
            <span>
              @if ($index<2) {
              <span>{{ user.fname }} {{ user.lname }}</span
              >} @if ($index===0&& selectedChatRoomUsers.length > 2){
              <span>,</span>} @if($index === 1 && selectedChatRoomUsers.length >
              2){
              <span>
                <mat-icon
                  matTooltip="{{ getAdditionalUsers() }}"
                  aria-label="More members"
                  class="more-icon mt-2"
                  >more_horiz</mat-icon
                >
              </span>
              }
            </span>
            }
          </span>
        </h5>
      </div>
      <div
        class="messages p-3 message-container"
        style="height: 65vh; overflow-y: auto"
      >
        @for (message of messages; track $index) { @if (isNewDate($index)) {
        <div class="date-separator">
          {{ message.timestamp | date : "fullDate" }}
        </div>
        }
        <div
          class="message mt-2"
          (mouseenter)="showActions(message.id)"
          (mouseleave)="hideActions()"
          [ngClass]="{
            'sent-message': message.senderId === currentUserId,
            'received-message': message.senderId !== currentUserId
          }"
        >
          <div class="message-content">
            @if(message.type!="PRIVATE"){
            <div class="message-header">
              <span style="font-size: small; opacity: 0.65"
                >{{
                  message.senderId === currentUserId
                    ? "You"
                    : message.senderId == null
                    ? "You"
                    : message.name + " (" + message.phone + ")"
                }}:</span
              >
            </div>
            } @if (message.filePath) {
            <div style="display: inline">
              @if (isImage(message.filePath)) {
              <div style="display: inline">
                <img
                  [src]="getFileUrl(message.filePath)"
                  alt="Image"
                  class="img-fluid media-content"
                  style="max-width: 250px"
                />
              </div>
              } @else {
              <div style="display: inline">
                <div class="video-container mt-2">
                  <video controls style="width: 30%; height: fit-content">
                    <source
                      [src]="getFileUrl(message.filePath)"
                      type="video/mp4"
                      class="media-content"
                    />
                    Your browser does not support the video tag.
                  </video>
                </div>
              </div>
              }
            </div>
            } @else{
            <div style="display: inline">
              <span class="text-content">{{ message.content }}</span>
            </div>

            }
            <span class="message-timestamp" style="font-size: 0.65rem">
              {{ message.timestamp | date : "shortTime" }}
            </span>
            @if (isActionsVisible(message.id)&&message.senderId===currentUserId)
            {
            <div class="action-buttons">
              <button
                mat-icon-button
                color="primary"
                class="small-btn me-1"
                (click)="onEditMessageClick(message.id, message.content)"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                mat-icon-button
                color="warn"
                class="small-btn me-2"
                (click)="deleteMessage(message.id)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
            }
          </div>
        </div>
        }
      </div>
      <div class="input-group p-3">
        @if (selectedFileName) {
        <div class="mb-2 w-100">Selected File: {{ selectedFileName }}</div>
        }
        <input
          [(ngModel)]="newMessageContent"
          placeholder="Type a message..."
          class="form-control"
        />

        <!-- Hidden File Input -->
        <input
          type="file"
          (change)="onFileSelected($event)"
          accept="image/*,video/*"
          id="file-input"
          style="display: none"
        />

        <button mat-icon-button (click)="triggerFileInput()">
          <mat-icon>attach_file</mat-icon>
        </button>

        <button (click)="sendMessage()" class="btn btn-primary">
          @if (editingMessageId !== null) { Edit }@else { Send }
        </button>
      </div>
    </div>
    } @if (!selectedChatRoomId) {
    <div class="p-3">
      <h2>Select a user to start chatting!</h2>
    </div>
    }
  </main>
</div>

<!-- 
@for (message of messages; track $index) {
  <div
    class="message mt-2"
    (mouseenter)="showActions(message.id)"
    (mouseleave)="hideActions()"
  >
    <div
      [ngClass]="{
        'text-end':
          message.senderId === currentUserId ||
          (message.senderId == null ? true : false),
        'text-start': message.senderId !== currentUserId
      }"
    >
      <strong
        >{{
          message.senderId === currentUserId
            ? "You"
            : message.senderId == null
            ? "You"
            : message.senderId
        }}:</strong
      >
      @if (message.filePath) {
      <div style="display: inline">
        @if (isImage(message.filePath)) {
        <div style="display: inline">
          <img
            [src]="getFileUrl(message.filePath)"
            alt="Image"
            class="img-fluid"
            style="max-width: 250px"
          />
        </div>
        } @else {
        <div style="display: inline">
          <div class="video-container mt-2">
            <video controls style="width: 30%; height: fit-content">
              <source
                [src]="getFileUrl(message.filePath)"
                type="video/mp4"
              />
              Your browser does not support the video tag.
            </video>
          </div>
        </div>
        }
      </div>
      } @else{
      <div style="display: inline">
        <span>{{ message.content }}</span>
      </div>
      } @if (isActionsVisible(message.id)) {
      <div class="action-buttons d-inline">
        <button
          mat-icon-button
          color="primary"
          class="small-btn ms-1"
          (click)="onEditMessageClick(message.id, message.content)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          color="warn"
          class="small-btn ms-2"
          (click)="deleteMessage(message.id)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      }
    </div>
  </div>
  } -->
