/* src/app/components/chat/chat.component.css */
.chat-container {
  height: 85vh;
  display: flex;
}

.sidebar {
  width: 300px;
  overflow-y: auto;
  background-color: #dcdfe2;
  border-right: 1px solid #dee2e6;
}

.chat-area {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.messages {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.input-group {
  position: sticky;
  bottom: 0;
  background: white;
}
.input-group .form-control {
  flex: 1;
  margin-right: 8px; /* Space between input and icon button */
}

.input-group .mat-icon-button {
  padding: 0;
}
.action-buttons {
  position: absolute;
  top: 5px;
  left: -35px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  opacity: 0;
  transition: opacity 0.2s;
}
.message-container:hover .action-buttons {
  opacity: 1;
}

.small-btn {
  width: 24px;
  height: 24px;
  padding: 0;
}

.mat-icon {
  font-size: 16px;
}

.message-container {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 8px;
}
.message {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 75%;
  margin: 5px 0;
  padding: 10px;
  border-radius: 8px;
}

.sent-message {
  align-self: flex-end;
  background-color: #dcf8c6;
}

.received-message {
  align-self: flex-start;
  background-color: #ffffff;
}

.message-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.sender-name {
  font-weight: bold;
  font-size: 0.85em;
  margin-bottom: 5px;
  color: #006400;
}

.media-content {
  max-width: 250px;
  border-radius: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
}

.text-content {
  font-size: 1em;
  color: #333;
  word-wrap: break-word;
  padding: 5px 0;
}

.message-timestamp {
  display: inline-block;
  width: 100%;
  font-size: 0.75em;
  color: #999;
  text-align: end;
  margin-top: 5px;
}

.action-buttons {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
}

.sent-message .message-timestamp {
  color: #666;
  align-self: flex-end;
}

.received-message .message-timestamp {
  color: #666;
  align-self: flex-start;
}

.message-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.profile-image {
  width: 50px;
  height: auto;
  border-radius: 50%;
}
.list-group-item {
  background-color: ghostwhite;
  width: 95%;
  margin: auto;
}
.date-separator {
  text-align: center;
  font-size: 0.75rem;
  color: #8f8c8c;
  font-weight: 500;
  padding: 8px 0;
  margin: 10px 0;
  background-color: transparent;
  border-radius: 8px;
}
.chat-members {
  font-size: 0.9rem;
  color: #555;
}

.more-icon {
  font-size: 1rem;
  vertical-align: middle;
  cursor: pointer;
  margin-left: 4px;
}
