.changebac {
  background-color: var(--main-background-color);
}
img {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  transition: transform 0.5s;
  object-fit: cover;
  user-select: none;
}
img:hover {
  transform: scale(1.2);
}
table,
tr,
th,
td {
  background-color: transparent;
}
th {
  background-color: var(--primary-color);
  color: white;
}
tr:hover {
  background-color: aliceblue;
}
