.dialogTitle {
  background-color: var(--primary-color);
  color: white;
}
.full-width {
  width: 100%;
}
.mat-chip-row {
  margin: 5px;
}
.modal-body {
  padding: 20px;
}
.modal-footer {
  display: flex;
  justify-content: space-between;
}
