.card1 {
  background: rgb(6, 23, 87);
  background: linear-gradient(
    41deg,
    rgba(6, 23, 87, 1) 0%,
    rgba(2, 0, 36, 1) 22%,
    rgba(9, 67, 121, 1) 86%
  );
}
.card-text-1 {
  color: rgb(4, 32, 134);
}
.card2 {
  background: rgb(9, 87, 37);
  background: linear-gradient(
    41deg,
    rgba(9, 87, 37, 0.9103290974592962) 8%,
    rgba(42, 154, 31, 1) 24%,
    rgba(65, 132, 58, 1) 69%
  );
}
.card-text-2 {
  color: rgb(9, 87, 37);
}
.card3 {
  background: rgb(9, 87, 73);
  background: linear-gradient(
    41deg,
    rgba(9, 87, 73, 0.9103290974592962) 8%,
    rgba(31, 154, 136, 1) 24%,
    rgba(58, 131, 132, 1) 69%
  );
}
.card-text-3 {
  color: rgba(58, 131, 132, 1);
}
.card4 {
  background: rgb(87, 9, 50);
  background: linear-gradient(
    41deg,
    rgba(87, 9, 50, 0.9103290974592962) 4%,
    rgba(154, 31, 74, 1) 27%,
    rgba(132, 58, 85, 1) 69%
  );
}
.card-text-4 {
  color: rgb(87, 9, 50);
}
.card-trans {
  transition: all 0.5s ease-in-out;
}
.card-trans:hover {
  transform: translateY(-3px);
  transition: all 0.5s ease-in-out;
}
