<div
  class="container d-flex justify-content-center align-items-center"
  style="min-height: calc(100vh - 8rem)"
>
  <mat-card>
    <div class="row box-area" style="max-width: 900px">
      <div
        class="col-md-5 col-12 d-flex justify-content-center align-items-center flex-column mt-md-3 text-center"
      >
        <img
          src="assets/logo.png"
          class="img-fluid d-none d-sm-block mb-3"
          alt="Employee Management System Logo"
        />
        <p class="fs-sm-4 fs-5 d-block mt-sm-0 mt-2" style="font-weight: 600">
          Stay Connected
        </p>
        <small class="fs-6 fs-sm-5 d-block">
          Login to
          <span title="Employee Management System" class="fw-bold text-primary"
            >EMS</span
          ></small
        >
      </div>

      <div class="col-md-7 col-12 pt-sm-4 pe-sm-4 pb-sm-4 ps-sm-4 mt-2">
        <div class="row border rounded-4">
          <div class="header-text text-center">
            <h2 class="fs-6 fs-sm-5 mt-2">Hello,Again</h2>
            <p class="fs-6 fs-sm-5">We are happy to have you back.</p>
          </div>
          <form
            [formGroup]="loginForm"
            novalidate
            class="mb-md-3 my-2"
            (ngSubmit)="submitLoginForm()"
          >
            <div class="row">
              <div class="col mb-2 abc">
                <label for="email" class="form-label ps-2">Email</label>
                <input
                  type="email"
                  class="form-control form-md-control-md bg-light fs-6"
                  placeholder="Email"
                  name="email"
                  id="email"
                  formControlName="email"
                  [ngClass]="{'is-valid':(email.touched || email.dirty)&&!(email.errors?.['required'] || (email.errors?.['pattern'])),'is-invalid':((email.touched||email.dirty) && (email.errors?.['required'] || (email.errors?.['pattern'])))}"
                />
                @if ((email.touched || email.dirty) &&
                email.errors?.['required']) {
                <div class="invalid-feedback ps-1">*Email is Required.</div>
                } @if (email.errors?.['pattern']&&(email.touched ||
                email.dirty)) {
                <div class="invalid-feedback mb-1 ps-1">*Email is Invalid.</div>
                }
              </div>
            </div>
            <div class="row">
              <div class="col mb-1 abc">
                <label for="password" class="form-label ps-2">Password</label>
                <input
                  type="password"
                  class="form-control form-md-control-md bg-light fs-6"
                  placeholder="Password"
                  name="password"
                  id="password"
                  formControlName="password"
                  [ngClass]="{'is-valid':(password.touched || password.dirty)&&!(password.errors?.['required'] || (password.errors?.['pattern'])),'is-invalid':((password.touched||password.dirty) && (password.errors?.['required'] || (password.errors?.['pattern'])))}"
                />
                @if ((password.touched || password.dirty) &&
                password.errors?.['required']) {
                <div class="invalid-feedback ps-1">*Password is Required.</div>
                } @if (password.errors?.['pattern']&&(password.touched ||
                password.dirty)) {
                <div class="invalid-feedback mb-1 ps-1">
                  *Password must contain at least 8 characters,1 Uppercase,1
                  Lowercase,1 number,1 special characters.
                </div>
                }
              </div>
            </div>
            <div class="input-group d-flex justify-content-end">
              <div class="forgot mt-2">
                <small
                  ><a (click)="forgotPassword()" class="forgotLink"
                    >Forgot Password?</a
                  ></small
                >
              </div>
            </div>
            <div class="row mt-3">
              <div class="col text-center">
                <button
                  type="submit"
                  [disabled]="loginForm.invalid"
                  class="btn btn-outline-primary me-3"
                >
                  Login
                </button>
                <br />
                <button
                  class="gsi-material-button mt-3 border-primary"
                  (click)="onClick()"
                  style="background: transparent"
                >
                  <div class="gsi-material-button-state"></div>
                  <div class="gsi-material-button-content-wrapper">
                    <div class="gsi-material-button-icon">
                      <svg
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 48 48"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        style="display: block"
                      >
                        <path
                          fill="#EA4335"
                          d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"
                        ></path>
                        <path
                          fill="#4285F4"
                          d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"
                        ></path>
                        <path
                          fill="#FBBC05"
                          d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"
                        ></path>
                        <path
                          fill="#34A853"
                          d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"
                        ></path>
                        <path fill="none" d="M0 0h48v48H0z"></path>
                      </svg>
                    </div>
                    <span class="gsi-material-button-contents"
                      >Sign in with Google</span
                    >
                  </div>
                </button>
              </div>
            </div>
          </form>
          <div class="row ms-auto mb-2">
            <small class="text-center"
              >Don't have account?
              <a
                routerLink="/register"
                class="text-decoration-none d-sm-inline d-block"
                >Create Account</a
              ></small
            >
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
