<div
  class="container d-flex justify-content-center align-items-center"
  style="min-height: calc(100vh - 8rem)"
>
  <mat-card>
    <div class="row box-area" style="max-width: 900px">
      <div
        class="text-center mt-2 text-muted mb-2"
        style="font-weight: bold; font-size: 1.5em"
      >
        Registration Form
      </div>
      <div class="row align-items-center me-1 mb-1 ms-1">
        <form
          [formGroup]="signupForm"
          (keydown.enter)="$event.preventDefault()"
          class="border p-3 rounded-4"
          enctype="multipart/form-data"
          (ngSubmit)="verifyEmail()"
        >
          <div class="row">
            <div class="col-12 col-md-4 mb-1">
              <input
                type="text"
                class="form-control is-valid form-md-control-md form-control-sm bg-light fs-6"
                placeholder="First Name"
                name="fname"
                id="fname"
                formControlName="fname"
                [ngClass]="{'is-valid':(fname.touched || fname.dirty)&&!(fname.errors?.['required'] || (fname.errors?.['pattern'])),'is-invalid':((fname.touched||fname.dirty) && (fname.errors?.['required'] || (fname.errors?.['pattern'])))}"
              />@if ((fname.touched || fname.dirty) &&
              fname.errors?.['required']) {
              <div class="invalid-feedback">*Firstname is Required.</div>
              } @if (fname.errors?.['pattern']&&(fname.touched || fname.dirty))
              {
              <div class="invalid-feedback mb-1 ps-1">
                *Firstname is Invalid.
              </div>
              }
            </div>
            <div class="col-12 col-md-4 mb-1">
              <input
                type="text"
                class="form-control is-valid form-md-control-md form-control-sm bg-light fs-6"
                placeholder="Middle Name"
                name="mname"
                id="mname"
                formControlName="mname"
                [ngClass]="{'is-valid':(mname.touched || mname.dirty)&&!(mname.errors?.['required'] || (mname.errors?.['pattern'])),'is-invalid':((mname.touched||mname.dirty) && (mname.errors?.['required'] || (mname.errors?.['pattern'])))}"
              />@if ((mname.touched || mname.dirty) &&
              mname.errors?.['required']) {
              <div class="invalid-feedback">*Middlename is Required.</div>
              } @if (mname.errors?.['pattern']&&(mname.touched || mname.dirty))
              {
              <div class="invalid-feedback mb-1 ps-1">
                *Middlename is Invalid.
              </div>
              }
            </div>
            <div class="col-12 col-md-4 mb-1">
              <input
                type="text"
                class="form-control form-md-control-md form-control-sm bg-light fs-6"
                placeholder="Last Name"
                name="lname"
                id="lname"
                formControlName="lname"
                [ngClass]="{'is-valid':(lname.touched || lname.dirty)&&!(lname.errors?.['required'] || (lname.errors?.['pattern'])),'is-invalid':((lname.touched||lname.dirty) && (lname.errors?.['required'] || (lname.errors?.['pattern'])))}"
              />
              @if ((lname.touched || lname.dirty) && lname.errors?.['required'])
              {
              <div class="invalid-feedback">*Lastname is Required.</div>
              } @if (lname.errors?.['pattern']&&(lname.touched || lname.dirty))
              {
              <div class="invalid-feedback mb-1 ps-1">
                *Lastname is Invalid.
              </div>
              }
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-12 col-md-6 mb-2">
              <input
                type="email"
                class="form-control form-md-control-md form-control-sm bg-light fs-6"
                placeholder="Email"
                name="email"
                id="email"
                formControlName="email"
                [ngClass]="{'is-valid':(email.touched || email.dirty)&&!(email.errors?.['required'] || (email.errors?.['pattern'])),'is-invalid':((email.touched||email.dirty) && (email.errors?.['required'] || (email.errors?.['pattern'])))}"
              />
              @if ((email.touched || email.dirty) && email.errors?.['required'])
              {
              <div class="invalid-feedback ps-1">*Email is Required.</div>
              } @if (email.errors?.['pattern']&&(email.touched || email.dirty))
              {
              <div class="invalid-feedback mb-1 ps-1">*Email is Invalid.</div>
              }
            </div>
            <div class="col-12 col-md-6 mb-2">
              <input
                type="tel"
                class="form-control form- form-control-sm bg-light fs-6"
                placeholder="Phone Number"
                name="phone"
                id="phone"
                formControlName="phone"
                [ngClass]="{'is-valid':(phone.touched || phone.dirty)&&!(phone.errors?.['required'] || (phone.errors?.['pattern'])),'is-invalid':((phone.touched||phone.dirty) && (phone.errors?.['required'] || (phone.errors?.['pattern']) || phone.errors?.['minlength'] ||phone.errors?.['maxlength']))}"
              />
              @if ((phone.touched || phone.dirty) && phone.errors?.['required'])
              {
              <div class="invalid-feedback ps-1">*Phone No. is Required.</div>
              }@if(phone.errors?.['pattern']&&(phone.touched || phone.dirty)) {
              <div class="invalid-feedback mb-1 ps-1">
                *Phone Number is Invalid.
              </div>
              } @if ((phone.touched || phone.dirty) &&
              phone.errors?.['minlength']) {
              <div class="invalid-feedback ps-1">*Phone Number is Short.</div>
              } @if ((phone.touched || phone.dirty) &&
              phone.errors?.['maxlength']) {
              <div class="invalid-feedback ps-1">*Phone Number is Long.</div>
              }
            </div>
          </div>
          <div class="row g-0 mt-1">
            <div class="col-md-4 col-12">
              <div class="">Gender</div>
              <div class="form-check form-check-inline">
                <input
                  type="radio"
                  class="form-check-input"
                  value="male"
                  id="male"
                  formControlName="gender"
                />
                <label for="male" class="form-check-label">Male</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  type="radio"
                  class="form-check-input"
                  value="female"
                  id="female"
                  formControlName="gender"
                />
                <label for="female" class="form-check-label">Female</label>
              </div>
              @if (gender.touched && gender.errors?.['required']) {
              <div class="form-text text-danger ps-1">*Gender is Required.</div>
              }
            </div>
            <div class="col-md-4 col-12 ps-md-4 ps-0 mt-1 mt-md-0">
              <label for="department" class="form-label">Department</label>
              <select
                name="department"
                id="department"
                formControlName="department"
                class="form-select form-select-sm bg-light w-75"
                [matTooltip]="department.value"
                matTooltipPosition="above"
                [ngClass]="{'is-valid':(department.touched)&&!(department.errors?.['required']),'is-invalid':((department.touched) && (department.errors?.['required']))}"
              >
                <option value="" disabled hidden>Select Department</option>
                @for (item of deptArray; track $index) {
                <option value="{{ item.departmentName }}">
                  {{ item.departmentName }}
                </option>
                }
              </select>
              @if (department.touched && department.errors?.['required']) {
              <div class="invalid-feedback ps-1">*Department is Required.</div>
              }
            </div>
            <div class="col-12 col-md-4 mt-1 mt-md-0">
              <label for="dateOfJoining" class="form-label">Joined On</label>
              <input
                type="date"
                class="form-control form-control-sm bg-light fs-6"
                name="dateOfJoining"
                id="dateOfJoining"
                formControlName="dateOfJoining"
                [ngClass]="{'is-valid':(doj.touched)&&!(doj.errors?.['required']||doj.errors?.['notInPast']),'is-invalid':((doj.touched) && (doj.errors?.['required']||doj.errors?.['notInPast']))}"
              />
              @if (doj.touched && doj.errors?.['required']) {
              <div class="invalid-feedback ps-1">
                *Date Of Joining is Required.
              </div>
              } @if (doj.touched && doj.errors?.['notInPast']) {
              <div class="invalid-feedback ps-1">
                *Date Of Joining should be in past.
              </div>
              }
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12 col-md-6 mt-1 mt-md-0">
              <label for="dateOfBirth" class="form-label">Birth Date</label>
              <input
                type="date"
                class="form-control form-control-sm bg-light fs-6"
                name="dateOfBirth"
                id="dateOfBirth"
                formControlName="dateOfBirth"
                [ngClass]="{'is-valid':(dob.touched)&&!(dob.errors?.['required']||dob.errors?.['notInPast']),'is-invalid':((dob.touched) && (dob.errors?.['required']||dob.errors?.['notInPast']))}"
              />
              @if (dob.touched && dob.errors?.['required']) {
              <div class="invalid-feedback ps-1">*Date is Required.</div>
              } @if (dob.touched && dob.errors?.['notInPast']) {
              <div class="invalid-feedback ps-1">
                *Date Of Birth should be in past.
              </div>
              }
            </div>
            <div class="col-12 col-md-6 mt-1 mt-md-0">
              <label for="image" class="form-label">Image</label>
              <input
                type="file"
                class="form-control form-control-sm bg-light fs-6"
                name="image"
                id="image"
                formControlName="image"
                (change)="onChangeFileField($event)"
                [ngClass]="{'is-valid':(image.touched)&&!(image.errors?.['required']),'is-invalid':((image.touched) && (image.errors?.['required']))}"
              />
              @if (image.touched && image.errors?.['required']) {
              <div class="invalid-feedback ps-1">*Image is Required.</div>
              }
            </div>
          </div>
          <div class="row mt-2 mt-md-3">
            <div class="col-12 col-md-6">
              <input
                type="password"
                class="form-control form-control-sm bg-light fs-6"
                placeholder="Password"
                name="password"
                id="password"
                formControlName="password"
                [ngClass]="{'is-valid':(password.touched || password.dirty)&&!(password.errors?.['required'] || (password.errors?.['pattern'])),'is-invalid':((password.touched||password.dirty) && (password.errors?.['required'] || (password.errors?.['pattern'])))}"
              />
              @if ((password.touched || password.dirty) &&
              password.errors?.['required']) {
              <div class="invalid-feedback ps-1">*Password is Required.</div>
              } @if (password.errors?.['pattern']&&(password.touched ||
              password.dirty)) {
              <div class="invalid-feedback mb-1 ps-1 text-wrap">
                *Password must contain at least 8 characters,1 Uppercase,1
                Lowercase,1 number,1 special characters.
              </div>
              }
            </div>
            <div class="col-12 col-md-6 mt-1 mt-md-0">
              <input
                type="password"
                class="form-control form-control-sm bg-light fs-6"
                placeholder="Confirm Password"
                name="cPassword"
                id="cpassword"
                formControlName="cPassword"
                [ngClass]="{'is-valid':(cPassword.touched || cPassword.dirty)&&!(cPassword.errors?.['required'] || signupForm.errors?.['mismatch']),'is-invalid':((cPassword.touched||cPassword.dirty) && (cPassword.errors?.['required'] || signupForm.errors?.['mismatch']))}"
              />
              @if ((cPassword.touched || cPassword.dirty) &&
              cPassword.errors?.['required']) {
              <div class="invalid-feedback ps-1">*Password is Required.</div>
              } @if ((cPassword.touched || cPassword.dirty) &&
              signupForm.errors?.['mismatch']) {
              <div class="invalid-feedback ps-1">*Password does not match.</div>
              }
            </div>
          </div>
          <div class="row mt-2" formGroupName="address">
            <div class="row">
              <label for="street" class="form-label">Address</label>
              <div class="col-md-4 col-12">
                <input
                  type="text"
                  class="form-control is-valid form-control-sm bg-light fs-6"
                  placeholder="Street Address"
                  name="street"
                  id="street"
                  formControlName="street"
                  [ngClass]="{'is-valid':(street.touched || fname.dirty)&&!(street.errors?.['required']),'is-invalid':((street.touched||street.dirty) && street.errors?.['required'])}"
                />@if ((street.touched || street.dirty) &&
                street.errors?.['required']) {
                <div class="invalid-feedback">*Street Address is Required.</div>
                }
              </div>
              <div class="col-md-4 col-12 mt-md-0 mt-1">
                <input
                  type="number"
                  class="form-control is-valid form-control-sm bg-light fs-6"
                  placeholder="Postal Code"
                  name="postal"
                  id="postal"
                  formControlName="postal"
                  [ngClass]="{'is-valid':(postal.touched || postal.dirty)&&!(postal.errors?.['required']),'is-invalid':((postal.touched||postal.dirty) && postal.errors?.['required'])}"
                />@if ((postal.touched || postal.dirty) &&
                postal.errors?.['required']) {
                <div class="invalid-feedback">*Postal Code is Required.</div>
                }
              </div>
              <div class="col-12 col-md-4 mt-md-0 mt-1">
                <input
                  type="text"
                  class="form-control is-valid form-control-sm bg-light fs-6"
                  placeholder="City"
                  name="city"
                  id="city"
                  formControlName="city"
                  [ngClass]="{'is-valid':(city.touched || city.dirty)&&!(city.errors?.['required']),'is-invalid':((city.touched||city.dirty) && city.errors?.['required'])}"
                />@if ((city.touched || city.dirty) &&
                city.errors?.['required']) {
                <div class="invalid-feedback">*city is Required.</div>
                }
              </div>
            </div>
            <div class="row mt-md-2 mt-1">
              <div class="col-12 col-md-4">
                <input
                  type="text"
                  class="form-control is-valid form-control-sm bg-light fs-6"
                  placeholder="District"
                  name="district"
                  id="district"
                  formControlName="district"
                  [ngClass]="{'is-valid':(district.touched || district.dirty)&&!(district.errors?.['required']),'is-invalid':((district.touched||district.dirty) && district.errors?.['required'])}"
                />@if ((district.touched || district.dirty) &&
                district.errors?.['required']) {
                <div class="invalid-feedback">*District is Required.</div>
                }
              </div>
              <div class="col-12 col-md-4 mt-md-0 mt-1">
                <input
                  type="text"
                  class="form-control is-valid form-control-sm bg-light fs-6"
                  placeholder="State"
                  name="state"
                  id="state"
                  formControlName="state"
                  [ngClass]="{'is-valid':(state.touched || state.dirty)&&!(state.errors?.['required']),'is-invalid':((state.touched||state.dirty) && state.errors?.['required'])}"
                />@if ((state.touched || state.dirty) &&
                state.errors?.['required']) {
                <div class="invalid-feedback">*State is Required.</div>
                }
              </div>
              <div class="col-12 col-md-4 mt-md-0 mt-1">
                <select
                  name="country"
                  id="country"
                  formControlName="country"
                  class="form-select from-select-sm bg-light"
                  [ngClass]="{'is-valid':(country.touched)&&!(country.errors?.['required']),'is-invalid':((country.touched) && (country.errors?.['required']))}"
                >
                  @for (item of countryArray; track $index) {
                  <option value="{{ item }}">{{ item }}</option>
                  }
                </select>
                @if (country.touched && country.errors?.['required']) {
                <div class="invalid-feedback ps-1">*Select Country.</div>
                }
              </div>
            </div>
          </div>
          <div class="row mt-2" formArrayName="skills">
            <label for="" class="form-label">Add Skills</label>
            @for(control of skills['controls'];track $index) {
            <div class="col-8 col-md-4 mb-1">
              <div class="row ms-md-1 mt-md-0 mt-1 g-0">
                <div class="col-8 me-1">
                  <input
                    type="text"
                    placeholder="Skill"
                    class="form-control form-control-sm mt-2"
                    [formControlName]="$index"
                  />
                </div>
                <div class="col-2">
                  <button
                    mat-icon-button
                    (click)="DeleteSkill($index)"
                    class="exclude"
                    color="primary"
                  >
                    <mat-icon class="mb-1">delete</mat-icon>
                  </button>
                </div>
              </div>
            </div>
            }
            <div class="row mt-1">
              <div class="col text-center ms-4">
                <button
                  type="button"
                  class="btn btn-sm btn-primary fs-md-6 text-nowrap"
                  (click)="AddSkills()"
                >
                  Add Skills
                </button>
              </div>
            </div>
          </div>
          <div formArrayName="experience" class="row col-md-10 col-12 m-auto">
            @for(control of experience['controls'];track $index) {
            <div
              class="border p-md-3 p-1 rounded-4 mt-2"
              [formGroupName]="$index"
            >
              <label class="form-label">Experience {{ $index + 1 }}</label>
              <div class="row mb-1">
                <div class="col-md-6 col-12">
                  <input
                    type="text"
                    class="form-control form-control-sm bg-light fs-6"
                    placeholder="company"
                    name="company"
                    id="company"
                    formControlName="company"
                  />
                </div>
                <div class="col-md-6 col-12">
                  <select
                    name="position"
                    id="position"
                    formControlName="position"
                    class="form-select form-select-sm bg-light fs-6"
                  >
                    <option [selected]="true" hidden>Position</option>
                    <option>Junior Developer</option>
                    <option>Software Developer</option>
                    <option>Senior Developer</option>
                    <option>Team Lead</option>
                  </select>
                </div>
              </div>

              <div class="row my-1">
                <div class="col-md-6 col-12">
                  <input
                    type="date"
                    class="form-control form-control-sm bg-light fs-6"
                    name="start"
                    id="start"
                    formControlName="startDate"
                    title="Start-Date"
                  />
                </div>
                <div class="col-md-6 col-12 mt-md-0 mt-1">
                  <input
                    type="date"
                    class="form-control form-control-sm bg-light fs-6"
                    name="endDate"
                    id="endDate"
                    formControlName="endDate"
                    title="End-Date"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6 mt-1 mt-md-0">
                  <input
                    type="text"
                    class="form-control form-control-sm bg-light fs-6"
                    placeholder="Total Experience"
                    name="totalExp"
                    id="totalExp"
                    formControlName="totalExp"
                    [readonly]="true"
                  />
                </div>

                @if(experience.at($index).hasError('dateOrderInvalid')) {
                <div class="text-danger mt-1">
                  *Total experience does not match the dates entered.
                </div>
                } @if(experience.at($index).hasError('dateInvalid')) {
                <div class="text-danger mt-1">
                  *Start and End Date should be in past.
                </div>
                }
              </div>
              <div class="row mt-2">
                <div class="col-md-4 col-12 m-auto">
                  <button
                    type="button"
                    class="btn btn-sm btn-primary text-nowrap"
                    (click)="DeleteExperience($index)"
                  >
                    Delete Experience
                  </button>
                </div>
              </div>
            </div>

            }
          </div>
          <div class="row mt-2">
            <div class="col-4 ml-4">
              <button
                type="button"
                class="btn btn-sm btn-primary fs-md-6"
                (click)="AddExperience()"
              >
                Add Experience
              </button>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col text-center">
              <button
                class="btn btn-primary"
                type="submit"
                [disabled]="signupForm.invalid || signupForm.errors?.['mismatch']"
              >
                Verify
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </mat-card>
</div>
