:host * {
  transition: all 0.3s ease-in-out;
}
mat-sidenav {
  background-color: var(--primary-color);
  color: white;
}
i,
span {
  color: white !important;
}

a:hover i {
  color: var(--light-color) !important;
  text-shadow: 0 0 20px var(--light-color), 0 0 40px var(--light-shadow-color);
}
a:hover span {
  color: var(--light-color) !important;
}
.content {
  padding: 1.5rem;
}

mat-sidenav-content {
  height: calc(100vh - 4rem);
}
.sidenav-header {
  padding-top: 1.5rem;
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 0.15rem solid rgba(24, 37, 66, 0.75);
}
.sidenav-header img {
  border-radius: 100%;
  object-fit: cover;
  margin-bottom: 0.6rem;
}
.header-text h2 {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
}
.header-text p {
  margin: 0;
  font-size: 0.8rem;
}

.hide-header-text {
  opacity: 0;
  height: 0 !important;
}
.selected-menu-item {
  border-left: 0.2rem solid rgba(0, 255, 251, 0.8);
  background-color: rgba(112, 110, 110, 0.005);
}
.selected-menu-item i {
  color: var(--light-color) !important ;
}
.selected-menu-item span {
  color: var(--light-color) !important ;
}
mat-sidenav,
mat-sidenav-content {
  transition: all 0.3s ease-in-out;
}
mat-sidenav-content {
  background-color: var(--main-background-color);
}
.indented {
  --mat-list-list-item-leading-icon-start-space: 2.5rem;
}
