<a
  mat-list-item
  [routerLink]="item().routerLink"
  routerLinkActive="selected-menu-item"
  #rla="routerLinkActive"
  [activated]="rla.isActive"
  class="d-flex align-items-center"
  (click)="toggleNested()"
>
  <i
    class="{{ item().class }}"
    matListItemIcon
    class="ps-2 fs-5"
    [matTooltip]="item().name"
    matTooltipPosition="right"
    [matTooltipDisabled]="!isCollapsed()"
  ></i>
  @if (!isCollapsed()) {
  <span matListItemTitle>{{ item().name }}</span
  >} @if(item().subLinks) {
  <span matListItemMeta>
    @if(nestedMenuOpen()) {
    <mat-icon>expand_less</mat-icon>} @else {
    <mat-icon>expand_more</mat-icon>
    }
  </span>
  }
</a>
@if(item().subLinks&&nestedMenuOpen()) {
<div @expandContractMenu>
  @for (subItem of item().subLinks; track $index) {
  <a
    mat-list-item
    [routerLink]="subItem.routerLink"
    routerLinkActive="selected-menu-item"
    #rla="routerLinkActive"
    [activated]="rla.isActive"
    class="d-flex align-items-center"
    [class.indented]="!isCollapsed()"
  >
    <i
      class="{{ subItem.class }}"
      matListItemIcon
      class="ps-2 fs-5"
      [matTooltip]="subItem.name"
      matTooltipPosition="right"
      [matTooltipDisabled]="!isCollapsed()"
    ></i>
    @if (!isCollapsed()) {
    <span matListItemTitle>{{ subItem.name }}</span
    >}
  </a>
  }
</div>
}
