#profile {
  background-color: #f8f9fa;
  padding: 1.2rem;
  border-radius: 0.3rem;
}

.logo-container {
  display: flex;
  align-items: center;
}

.userImage {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  border: 0.5px solid #007bff;
  object-fit: cover;
  transition: transform 0.5s;
}

.userImage:hover {
  transform: scale(1.1);
}

.profile-separator {
  margin: 1rem 0;
  border: 1px solid #007bff;
}

.section {
  margin-bottom: 1.5rem;
}
i:hover {
  cursor: pointer;
  color: #007bff;
}
.section-title {
  color: #007bff;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.skills-list {
  list-style: none;
  padding: 0;
}

.skills-list li {
  background-color: #e9ecef;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .logo-container {
    justify-content: center;
  }

  .profile-info,
  .section {
    text-align: center;
  }
}
