<div id="profile" #profile>
  <div class="fs-3" mat-dialog-title>
    <div class="container pt-0">
      <div class="row">
        <div class="col-1 logo-container">
          <img [src]="userData.image" alt="User" class="me-3 userImage" />
        </div>
        <div class="col ms-5">
          <h3 class="user-name pt-3">
            {{ userData.fname + " " + userData.lname | titlecase }}
          </h3>
        </div>
        <div class="col exclude">
          <i
            class="fa-solid fa-download d-flex justify-content-end align-items-center pt-3"
            (click)="downloadProfile()"
          ></i>
        </div>
      </div>
    </div>
    <hr class="profile-separator" />
  </div>

  <div mat-dialog-content>
    <div class="container">
      <div class="row">
        <div class="col me-3 mt-1 profile-info">
          <div class="section">
            <h2 class="section-title">Profile</h2>
            <div>Email: {{ userData.email }}</div>
            <div>Phone: {{ userData.phone }}</div>
            <div>Gender: {{ userData.gender }}</div>
            <div>Department: {{ userData.department }}</div>
            <div>Age: {{ userData.dateOfBirth | age }} Years</div>
            <div>
              Birth Date: {{ userData.dateOfBirth | date : "dd-MM-yyyy" }}
            </div>
            <div>
              Joining Date: {{ userData.dateOfJoining | date : "dd-MM-yyyy" }}
            </div>
          </div>

          <div class="section">
            <h2 class="section-title">Address</h2>
            <div>Street: {{ userData.address.street }}</div>
            <div>City: {{ userData.address.city }}</div>
            <div>Postal: {{ userData.address.postalcode }}</div>
            <div>District: {{ userData.address.district }}</div>
            <div>State: {{ userData.address.state }}</div>
            <div>Country: {{ userData.address.country }}</div>
          </div>
        </div>

        <div class="col mt-1">
          <div class="section">
            <h2 class="section-title">Skills</h2>
            <ul class="skills-list">
              @for (item of userData.skills; track $index) {
              <li>{{ item }}</li>
              }
            </ul>
          </div>

          @if(userData.experience.length > 0){
          <h2 class="section-title">Experience</h2>
          @for (item of userData.experience; track $index) {

          <div>Company: {{ item.company }}</div>
          <div>Position: {{ item.position }}</div>
          <div>Time: {{ item.totalExp }}</div>
          <div>Start: {{ item.startDate | date : "dd-MM-yyyy" }}</div>
          <div>End: {{ item.endDate | date : "dd-MM-yyyy" }}</div>
          } @if(userData.experience.length - 1) {
          <hr />
          } }
        </div>
      </div>
    </div>
  </div>

  <div mat-dialog-actions>
    <button mat-button mat-dialog-close color="warn" class="m-auto exclude">
      Close
    </button>
  </div>
</div>
