<mat-toolbar class="mat-elevation-z3">
  <div
    class="side-nav-button p-2 me-sm-3 text-light"
    (click)="onCollapsedBtnClick()"
  >
    <i class="fa-solid fa-bars" style="font-size: 1.5rem"></i>
  </div>
  <img
    src="../assets/image.png"
    alt="LOGO"
    class="rounded float-start"
    [style]="{ cursor: userRole() !== '' ? 'pointer' : '' }"
    width="45em"
    height="45em"
    (click)="navigateToDashboard()"
  />
  <span class="example-spacer"></span>
  @if(isLoggedin() && !isSunday()) { @if(userRole()==="USER" ) {
  <!-- && !isSunday() -->
  <mat-slide-toggle
    [(ngModel)]="isCheckedIn"
    (change)="toggleInOut()"
    class="custom-toggle me-3"
  >
    <span [ngClass]="isCheckedIn ? 'in-text' : 'out-text'" class="fw-bold">
      {{ isCheckedIn ? "You are Checked In" : "You are Checked Out" }}
    </span>
  </mat-slide-toggle>
  } @if (userRole()==="USER") {
  <button mat-icon-button (click)="openNotificationDialog()">
    <mat-icon
      [matBadge]="notificationCount"
      class="text-light temp me-3"
      matBadgeColor="warn"
      [matBadgeHidden]="!isBadgeDisplay || notificationCount === 0"
      >notifications</mat-icon
    ></button
  >}
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon class="text-light temp">redeem</mat-icon>
    <mat-menu #menu="matMenu">
      <div class="animated-background">
        @for (flower of flowers; track $index) {
        <div
          class="flower"
          [ngStyle]="{
            left: flower.position,
            animationDelay: flower.delay + 's'
          }"
        >
          <mat-icon style="opacity: 0.4; color: pink">local_florist</mat-icon>
        </div>
        }
      </div>
      @if(hasBirthday()){ @for (name of birthdays; track $index) {
      <div class="text-center fw-bold" style="color: var(--primary-color)">
        Birthdays
      </div>
      <div
        class="d-flex align-items-center justify-content-between mx-2 dob-div mb-1"
      >
        <mat-icon class="me-2 mt-1">celebration</mat-icon>
        <span style="color: var(--primary-color); font-weight: 450">
          {{ name | titlecase }}
        </span>
      </div>
      } } @else {
      <div class="ps-3 fw-bold" style="color: var(--primary-color)">
        No birthday
      </div>
      }
      <hr class="m-0" />
      <div
        class="d-flex align-items-center justify-content-between mx-2 dob-div"
      >
        @if(hasWork()){ @for (name of workAnniversarries; track $index) {
        <div class="d-flex flex-column">
          <div
            class="text-center fw-bold mt-1"
            style="color: var(--primary-color)"
          >
            Work Anniversaries
          </div>
          <div
            class="d-flex align-items-center justify-content-between mx-2 dob-div"
          >
            <mat-icon class="me-2 mt-1">celebration</mat-icon>
            <span style="color: var(--primary-color); font-weight: 450">
              {{ name | titlecase }}
            </span>
          </div>
        </div>
        } } @else {
        <div class="ms-2 fw-bold mt-1" style="color: var(--primary-color)">
          No Work Anniversaries
        </div>
        }
      </div>
    </mat-menu>
  </button>

  <button mat-icon-button (click)="logout()">
    <mat-icon class="text-light temp">logout</mat-icon></button
  >}
</mat-toolbar>
