table {
  background-color: #ecf0f3;
}
.table-responsive {
  overflow-x: auto;
}
table {
  background-color: #ecf0f3;
}
.table-row {
  background-color: #f4f9ff;
  transition: all 0.2s ease;
}
.table-row:hover {
  background-color: #eaf0f5;
  color: black;
}
img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: transform 0.5s;
  object-fit: cover;
}
img:hover {
  transform: scale(1.2);
}
.temp.mdc-data-table__cell input {
  margin-left: 4rem;
}
