<div class="changebac">
  <div
    mat-dialog-title
    class="fs-4 text-center dialogTitle d-flex justify-content-between align-items-center"
  >
    Add Notice
    <button mat-icon-button mat-dialog-close>
      <mat-icon class="text-end">close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form (ngSubmit)="addNotice()" #noticeForm="ngForm">
      <div class="mt-2">
        <label class="form-label">Title</label>
        <input
          type="text"
          [(ngModel)]="notice.title"
          name="title"
          required
          class="form-control form-md-control-md form-control-sm bg-light"
        />
      </div>

      <div class="mt-2">
        <label>Content</label>
        <angular-editor
          [(ngModel)]="notice.content"
          [config]="editorConfig"
          name="content"
        ></angular-editor>
      </div>

      <div class="mt-2">
        <label class="form-label">Deadline</label>
        <input
          type="date"
          class="form-control form-md-control-md form-control-sm bg-light"
          [(ngModel)]="notice.deadline"
          [min]="today"
          name="deadline"
          required
          (change)="compareDate()"
        />
      </div>
      @if(compareDate()) {
      <div class="text-danger">Deadline should be in future.</div>
      }
      <div class="text-center mt-2">
        <button
          type="submit"
          mat-button
          color="primary"
          [disabled]="noticeForm.invalid || compareDate()"
        >
          Add Notice
        </button>
      </div>
    </form>
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close color="warn" class="m-auto">
        Close
      </button>
    </div>
  </div>
</div>
